@model AgrInov.Models.PropriedadeAgricula

@{
    ViewData["Title"] = "Delete";
}

<h1 class="fs-3 mb-5">Propriedade Agrícula → Remover</h1>


<div class="mb-5">
    <div class="agr-card p-5">
    <div class="mb-3">
        <h3 class="mb-0">Deseja remover esta propriedade agrícola?</h3>
        <span class="fs-6">Essa ação não poderá ser desfeita</span>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamanhoHectares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamanhoHectares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeSolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeSolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" />
    </form>
    </div>
</div>

<div class="d-flex justify-content-start gap-1">
    <a asp-action="Index" class="btn btn-info text-white">Voltar</a>
</div>
