@model IEnumerable<AgrInov.Models.Insumo>

@{
    ViewData["Title"] = "Index";
}

<h1>Insumos</h1>

<p style="text-align: end;">
    <a asp-action="Create" class="btn btn-dark">CADASTRAR COMPRA DE INSUMOS</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeMedida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeMedida)
            </td>
                <td style="text-align: end;" class="col-md-5">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" style="padding:6px 40px">ATUALIZAR</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="padding:6px 40px; margin-left:20px">REMOVER</a>
            </td>
        </tr>
}
    </tbody>
</table>
