@model AgrInov.Models.Plantacao

@{
    ViewData["Title"] = "Details";
}

<h1 class="fs-3 mb-5">Plantações → Detalhes</h1>

<div class="d-flex justify-content-end align-items-center gap-2 my-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Editar</a>
</div>

<div id="map" class="agr-map"></div>

<div class="mb-5">
    <div class="agr-card p-5">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DataInicio)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DataInicio)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DataFimPrevista)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DataFimPrevista)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AreaUtilizada)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AreaUtilizada)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Producao)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Producao)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Saude)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Saude)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cultura)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cultura.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cultura.Recomendacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cultura.Recomendacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cultura.Rotacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cultura.Rotacao)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info text-white">Voltar</a>
</div>
