@model IEnumerable<AgrInov.Models.Plantacao>

@{
    ViewData["Title"] = "Plantações";
}

<h1 class="fs-3">Plantações</h1>

<div class="d-flex justify-content-between align-items-center gap-2 my-4">
    <form class="d-flex" role="search">
        <div class="input-group">
            <input type="search" class="form-control border-end-0" placeholder="Buscar" aria-label="Buscar">
            <span class="input-group-text bg-white border-start-0">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </form>
    <a asp-action="Create" class="btn btn-dark">+ Cadastrar nova plantação</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cultura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimPrevista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaUtilizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cultura.Nome)
                </td>
                <td>
                    @item.DataInicio.ToShortDateString()
                </td>
                <td>
                    @item.DataFimPrevista.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaUtilizada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saude)
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-edit me-1"></i>Atualizar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-eye me-1"></i>Visualizar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash me-1"></i>Remover</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
